#
# pin constraints
#
NET CLK_66MHZ LOC = "K15"  |  IOSTANDARD = "LVCMOS33";
NET RESET LOC = "V4"  |  IOSTANDARD = "LVCMOS33"  |  TIG  |  PULLDOWN;
NET SPI_FLASH_HOLDn LOC = "V14"  |  IOSTANDARD = "LVCMOS33";
NET SPI_FLASH_MISO LOC = "R13"  |  IOSTANDARD = "LVCMOS33";
NET SPI_FLASH_MOSI LOC = "T13"  |  IOSTANDARD = "LVCMOS33";
NET SPI_FLASH_SCLK LOC = "R15"  |  IOSTANDARD = "LVCMOS33";
NET SPI_FLASH_SS LOC = "V3"  |  IOSTANDARD = "LVCMOS33";
NET SPI_FLASH_Wn LOC = "T14"  |  IOSTANDARD = "LVCMOS33";
NET USB_Uart_sin LOC = "R7"  |  IOSTANDARD = "LVCMOS33";
NET USB_Uart_sout LOC = "T7"  |  IOSTANDARD = "LVCMOS33";
#
# additional constraints
#

NET "CLK_66MHZ" TNM_NET = sys_clk_pin;
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 66666 kHz;

### Set Vccaux for S6LX9 MicroBoard to 3.3V ###
CONFIG VCCAUX = "3.3" ;

# LCD_FPGA_DB4
NET LCD_IO_pin<0> 	LOC = F14;
NET LCD_IO_pin<0> IOSTANDARD=LVCMOS33;
NET LCD_IO_pin<0> PULLDOWN;
NET LCD_IO_pin<0> SLEW=SLOW;
NET LCD_IO_pin<0> DRIVE=2;

# LCD_FPGA_DB5
NET LCD_IO_pin<1> 	LOC = G14;
NET LCD_IO_pin<1> IOSTANDARD=LVCMOS33;
NET LCD_IO_pin<1> PULLDOWN;
NET LCD_IO_pin<1> SLEW=SLOW;
NET LCD_IO_pin<1> DRIVE=2;

# LCD_FPGA_DB6
NET LCD_IO_pin<2> 	LOC = D17;
NET LCD_IO_pin<2> IOSTANDARD=LVCMOS33;
NET LCD_IO_pin<2> PULLDOWN;
NET LCD_IO_pin<2> SLEW=SLOW;
NET LCD_IO_pin<2> DRIVE=2;

# LCD_FPGA_DB7
NET LCD_IO_pin<3> 	LOC = D18;
NET LCD_IO_pin<3> IOSTANDARD=LVCMOS33;
NET LCD_IO_pin<3> PULLDOWN;
NET LCD_IO_pin<3> SLEW=SLOW;
NET LCD_IO_pin<3> DRIVE=2;

# LCD_FPGA_RW
NET LCD_IO_pin<4> 	LOC = K13;
NET LCD_IO_pin<4> IOSTANDARD=LVCMOS33;
NET LCD_IO_pin<4> PULLDOWN;
NET LCD_IO_pin<4> SLEW=SLOW;
NET LCD_IO_pin<4> DRIVE=2;

# LCD_FPGA_RS
NET LCD_IO_pin<5> 	LOC = K12;
NET LCD_IO_pin<5> IOSTANDARD=LVCMOS33;
NET LCD_IO_pin<5> PULLDOWN;
NET LCD_IO_pin<5> SLEW=SLOW;
NET LCD_IO_pin<5> DRIVE=2;

# LCD_FPGA_E
NET LCD_IO_pin<6> 	LOC = F17;
NET LCD_IO_pin<6> IOSTANDARD=LVCMOS33;
NET LCD_IO_pin<6> PULLDOWN;
NET LCD_IO_pin<6> SLEW=SLOW;
NET LCD_IO_pin<6> DRIVE=2;
