#
# pin constraints
#
NET CLK_66MHZ LOC = "K15"  |  IOSTANDARD = "LVCMOS33";
NET RESET LOC = "V4"  |  IOSTANDARD = "LVCMOS33"  |  TIG  |  PULLDOWN;
NET SPI_FLASH_HOLDn LOC = "V14"  |  IOSTANDARD = "LVCMOS33";
NET SPI_FLASH_MISO LOC = "R13"  |  IOSTANDARD = "LVCMOS33";
NET SPI_FLASH_MOSI LOC = "T13"  |  IOSTANDARD = "LVCMOS33";
NET SPI_FLASH_SCLK LOC = "R15"  |  IOSTANDARD = "LVCMOS33";
NET SPI_FLASH_SS LOC = "V3"  |  IOSTANDARD = "LVCMOS33";
NET SPI_FLASH_Wn LOC = "T14"  |  IOSTANDARD = "LVCMOS33";
NET USB_Uart_sin LOC = "R7"  |  IOSTANDARD = "LVCMOS33";
NET USB_Uart_sout LOC = "T7"  |  IOSTANDARD = "LVCMOS33";
#
# additional constraints
#

NET "CLK_66MHZ" TNM_NET = sys_clk_pin;
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 66666 kHz;

### Set Vccaux for S6LX9 MicroBoard to 3.3V ###
CONFIG VCCAUX = "3.3" ;

NET Uart_RX_pin LOC = "F15"  |  IOSTANDARD = "LVCMOS33"; # "PMOD1_P1"
NET Uart_TX_pin LOC = "F16"  |  IOSTANDARD = "LVCMOS33"; # "PMOD1_P2"
